.container-fluid {
  background-color: #fff;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 70px;
}

.App-header {
  background-color: #1DA1F2 !important;
}

#second_login {
  text-align: center;
}
